* {
  box-sizing: border-box;
  font-family: "Source Code Pro"; }

body {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1350px) {
    body {
      flex-direction: column; } }
  @media (max-width: 800px) {
    body {
      align-items: flex-start; } }
header {
  margin-right: 30px;
  margin-bottom: 40px; }
  header h1 {
    white-space: nowrap;
    font-size: 58pt; }
  header p {
    margin-left: 20px;
    font-size: 13pt; }
  header span.right {
    text-shadow: 0 0 5px cyan; }
  header span.wrong {
    text-shadow: 0 0 5px red; }

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 800px;
  height: 800px; }
  #main.running > .amib:hover:not(.wrong), #main.running > .mutation:hover:not(.wrong) {
    box-shadow: 0 0 10px black; }
  #main > .card {
    position: absolute; }

.card {
  width: 69px;
  height: 69px;
  border-radius: 15px; }
  .card.wrong {
    box-shadow: 0 0 8px 8px red; }
  .card.right {
    box-shadow: 0 0 8px 8px cyan; }

#status {
  display: flex;
  flex-direction: column;
  width: 150px; }
  #status .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px; }
  #status button {
    font-size: 13pt;
    margin-left: 5px; }
  #status #direction {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    padding-top: 5px; }

/* Images */
.card.vent {
  background: center url("assets/vent.jpg");
  background-size: cover; }

.card.lab[data-index="0"] {
  background: center url("assets/lab0.jpg");
  background-size: cover; }

.card.lab[data-index="1"] {
  background: center url("assets/lab1.jpg");
  background-size: cover; }

.card.lab[data-index="2"] {
  background: center url("assets/lab2.jpg");
  background-size: cover; }

.card.mutation[data-index="1"] {
  background: center url("assets/mutation1.jpg");
  background-size: cover; }

.card.mutation[data-index="2"] {
  background: center url("assets/mutation2.jpg");
  background-size: cover; }

.card.mutation[data-index="4"] {
  background: center url("assets/mutation4.jpg");
  background-size: cover; }

.card.amib[data-index="0"] {
  background: center url("assets/amib0.jpg");
  background-size: cover; }

.card.amib[data-index="1"] {
  background: center url("assets/amib1.jpg");
  background-size: cover; }

.card.amib[data-index="2"] {
  background: center url("assets/amib2.jpg");
  background-size: cover; }

.card.amib[data-index="3"] {
  background: center url("assets/amib3.jpg");
  background-size: cover; }

.card.amib[data-index="4"] {
  background: center url("assets/amib4.jpg");
  background-size: cover; }

.card.amib[data-index="5"] {
  background: center url("assets/amib5.jpg");
  background-size: cover; }

.card.amib[data-index="6"] {
  background: center url("assets/amib6.jpg");
  background-size: cover; }

.card.amib[data-index="7"] {
  background: center url("assets/amib7.jpg");
  background-size: cover; }
