* {
    box-sizing: border-box;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 800px;
    height: 800px;
}

.card {
    position: absolute;
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 10px;
}

#main.running > .amib:hover:not(.wrong), #main.running > .mutation:hover:not(.wrong) {
    box-shadow: 0 0 10px black;
}

.card.wrong {
    box-shadow: 0 0 30px red;
}

.card.right {
    box-shadow: 0 0 30px green;
}

#status {
    display: flex;
    flex-direction: column;
    width: 150px;
}

#status .card {
    position: static;
}

#status .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

#status button {
    margin-left: 5px;
}

#direction {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24pt;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
}

/* Images */

.vent {
    background: center url("assets/vent.jpg");
    background-size: cover; }

.lab[data-index="0"] {
    background: center url("assets/lab0.jpg");
    background-size: cover; }
.lab[data-index="1"] {
    background: center url("assets/lab1.jpg");
    background-size: cover; }
.lab[data-index="2"] {
    background: center url("assets/lab2.jpg");
    background-size: cover; }

.mutation[data-index="1"] {
    background: center url("assets/mutation1.jpg");
    background-size: cover; }
.mutation[data-index="2"] {
    background: center url("assets/mutation2.jpg");
    background-size: cover; }
.mutation[data-index="4"] {
    background: center url("assets/mutation4.jpg");
    background-size: cover; }

.amib[data-index="0"] {
    background: center url("assets/amib0.jpg");
    background-size: cover; }
.amib[data-index="1"] {
    background: center url("assets/amib1.jpg");
    background-size: cover; }
.amib[data-index="2"] {
    background: center url("assets/amib2.jpg");
    background-size: cover; }
.amib[data-index="3"] {
    background: center url("assets/amib3.jpg");
    background-size: cover; }
.amib[data-index="4"] {
    background: center url("assets/amib4.jpg");
    background-size: cover; }
.amib[data-index="5"] {
    background: center url("assets/amib5.jpg");
    background-size: cover; }
.amib[data-index="6"] {
    background: center url("assets/amib6.jpg");
    background-size: cover; }
.amib[data-index="7"] {
    background: center url("assets/amib7.jpg");
    background-size: cover; }
